* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Funnel Display', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #eaedea;
    color: white;
    display: flex;;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.card {
    background-color: rgb(23, 38, 100);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 50%;
    width: 50%;
    text-align: center;
}

.card h2 {
    margin: 20px 0;
    font-size: 3rem;
}

#card1 p {
    font-size: 2.3rem;
    margin-bottom: 20px;
    padding: 20px;
}

#card1 button {
    margin: 20px;
    padding: 20px 20px;
    font-size: 1.5rem;
    background-color: rgb(107, 216, 198);
    color: rgb(23, 38, 100);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}



